<h3>添加编辑</h3>
<div class="panel panel-default" ng-controller="FeeEditController">
    <div class="panel-heading"><a ng-click="goBack()">返回</a>&nbsp;详细信息</div>
    <div class="panel-body">
        <form class="form-horizontal ng-pristine ng-valid" name="addForm" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">单价名称:</label>
                    <div class="col-sm-3">
                        <input name="psName" ng-model="fee.psName" class="form-control" type="text" required>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">单价金额（分）:</label>
                    <div class="col-sm-3">
                        <input name="psPrice" ng-model="fee.psPrice" class="form-control" type="text" required>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="last-child">
                    <div class="col-sm-5 col-sm-offset-2">
                        <button class="btn btn-oval btn-primary" ng-click="saveFee()">保存</button>
                        <button class="btn btn-oval btn-default" ng-click="goBack()">返回</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="loading" ng-show="isLoading">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="ball-spin-fade-loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>