<h3>学生信息编辑</h3>
<div class="panel panel-default" ng-controller="StuDetailController">
    <div class="panel-heading"><a ng-click="goBack()">返回</a>&nbsp;详细信息</div>
    <div class="panel-body">
        <form class="form-horizontal ng-pristine ng-valid" name="addForm" novalidate>
            <fieldset>
                <legend>{{stu.stuId}}</legend>
                <div class="form-group">
                    <label class="col-sm-2 control-label">姓名:</label>
                    <div class="col-sm-3">
                        <input name="stuName" ng-model="stu.stuName" class="form-control" type="text" required>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">班级:</label>
                    <div class="col-sm-3">
                        <ui-select ng-model="class.selected" theme="bootstrap" class="text-left" required="">
                            <ui-select-match placeholder="选择班级">{{$select.selected.className }}</ui-select-match>
                            <ui-select-choices repeat="class in classList | filter: $select.search">
                                <span ng-bind-html="class.className | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </fieldset>
            <fieldset ng-show="!isAdd">
                <div class="form-group">
                    <label class="col-lg-2 control-label">状态:</label>
                    <div class="col-sm-4">
                        <ui-select ng-model="state.selected" theme="bootstrap" class="text-left">
                            <ui-select-match placeholder="选择状态">{{$select.selected.name }}</ui-select-match>
                            <ui-select-choices repeat="state in stateList | filter: $select.search">
                                <span ng-bind-html="state.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-lg-2 control-label">联系方式:</label>
                    <div class="col-sm-4">
                        <input name="phone" ng-model="stu.phone" name="classTel" class="form-control" type="text" maxlength="15" required>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="last-child">
                    <div class="col-sm-5 col-sm-offset-2">
                            <button class="btn btn-oval btn-primary" ng-click="saveStu()">保存</button>
                        <button class="btn btn-oval btn-default" ng-click="goBack()">返回</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="loading" ng-show="isLoading">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="ball-spin-fade-loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>