<H3>添加老师</H3>
<div class="panel panel-default" ng-controller="TeacherAddController">
    <div class="panel-heading"><a>返回</a>&nbsp;详细信息</div>
    <div class="panel-body">
        <form class="form-horizontal ng-pristine ng-valid">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">老师姓名:</label>
                    <div class="col-sm-3">
                        <input name="teacherName" class="form-control" type="text">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">老师信息描述:</label>
                    <div class="col-sm-5">
                       <textarea name="teacherInfo" class="form-control"></textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">头像:</label>
                    <div class="col-sm-10">
                        <div id="panelDemo1" class="panel panel-default">
                        <div ng-class="{'panel-heading-collapsed':panelDemo1}" class="panel-heading panel-heading-collapsed">上传图片
                            <paneltool tool-collapse="tool-collapse" ng-init="panelDemo1=true"></paneltool>
                        </div>
                        <div collapse="panelDemo1" class="panel-wrapper">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <a href="#" ng-click="reset()" class="pull-right">
                                                    <small class="fa fa-refresh text-muted"></small>
                                                </a>选择图片</div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <input id="fileInput" filestyle="" type="file" data-class-button="btn btn-default" data-class-input="form-control" data-button-text="" class="form-control" />
                                                </div>
                                                <p class="pv">Crop type:</p>
                                                <div class="btn-group btn-group-justified mb">
                                                    <label ng-model="imgcropType" btn-radio="'square'" class="btn btn-default">矩形</label>
                                                    <label ng-model="imgcropType" btn-radio="'circle'" class="btn btn-default">圆形</label>
                                                </div>
                                                <br/>
                                                <div data-text="Cropped Image" class="imgcrop-preview">
                                                    <img ng-src="{{myCroppedImage}}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="panel">
                                            <div class="panel-body">
                                                <div class="imgcrop-area">
                                                    <img-crop image="myImage" result-image="myCroppedImage" area-type="{{imgcropType}}"></img-crop>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">电话:</label>
                    <div class="col-sm-3">
                        <input name="teacherPhone" class="form-control" type="text">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-lg-2 control-label">视频:</label>
                    <div class="col-lg-3">
                            <input name="teacherVideo"  class="form-control" type="text" value="">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="last-child">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-oval btn-primary" ng-click="saveTeh()">保存</button>
                        <button class="btn btn-oval btn-default" ng-click="goBack()">返回</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="loading" ng-show="isLoading">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="ball-spin-fade-loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>