<!DOCTYPE html>
<html lang="en" data-ng-app="angle">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="{{app.description}}">
   <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
   <title>{{app.description}}</title>
   <!-- Bootstrap styles-->
   <link rel="stylesheet" href="app/css/bootstrap.css">
   <link rel="stylesheet" href="app/css/bootstrap-rtl.css" data-ng-if="app.layout.isRTL">
   <link rel="stylesheet" href="app/css/bootstrap.min.css">
   <!-- Application styles-->
   <link rel="stylesheet" href="app/css/app.css" data-ng-if="!app.layout.isRTL">
   <link rel="stylesheet" href="app/css/app-rtl.css" data-ng-if="app.layout.isRTL">
   <!---Customer style-->
   <link rel="stylesheet" href="app/css/nj.css">
   <!-- Themes-->
   <link rel="stylesheet" ng-href="{{app.layout.theme}}" data-ng-if="app.layout.theme">
</head>

<body data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat}">
   <div data-ui-view="" data-autoscroll="false" class="wrapper"></div>
   <script src="app/js/base.js"></script>
   <script src="app/js/app.js"></script>
   <script src="app/js/notify.js"></script>
   <script src="app/js/controller/AdminListController.js"></script>
   <script src="app/js/controller/AdminAddController.js"></script>
   <script src="app/js/controller/AppController.js"></script>
   <script src="app/js/controller/LoginFormController.js"></script>
   <script src="app/js/controller/SidebarController.js"></script>
   <script src="app/js/controller/DashBoardController.js"></script>
   <script src="app/js/controller/StudentListController.js"></script>
   <script src="app/js/controller/StuDetailController.js"></script>
   <script src="app/js/controller/StudentAddController.js"></script>
   <script src="app/js/controller/ClassListController.js"></script>
   <script src="app/js/controller/ClassAddController.js"></script>
   <script src="app/js/controller/ClassEditController.js"></script>
   <script src="app/js/controller/TeacherListController.js"></script>
   <script src="app/js/controller/TeacherEditController.js"></script>
   <script src="app/js/controller/TeacherAddController.js"></script>
   <script src="app/js/controller/NoticeListController.js"></script>
   <script src="app/js/controller/NoticeAddController.js"></script>
</body>

</html>