<!DOCTYPE html>
<html lang="en" data-ng-app="angle">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="{{app.description}}">
   <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
   <title>{{app.description}}</title>
   <!-- Bootstrap styles-->
   <link rel="stylesheet" href="app/css/bootstrap.css">
   <!--<link rel="stylesheet" href="app/css/bootstrap-rtl.css" data-ng-if="app.layout.isRTL">-->
   <!--<link rel="stylesheet" href="app/css/bootstrap.min.css" data-ng-if="app.layout.isRTL">-->
   <!-- Application styles-->
   <link rel="stylesheet" href="app/css/app.css" data-ng-if="!app.layout.isRTL">
   <link rel="stylesheet" href="app/css/app-rtl.css" data-ng-if="app.layout.isRTL">
   <!---Customer style-->
   <link rel="stylesheet" href="app/css/nj.css">
   <!-- Themes-->
   <link rel="stylesheet" ng-href="{{app.layout.theme}}" data-ng-if="app.layout.theme">
</head>

<body data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat}">
   <div data-ui-view="" data-autoscroll="false" class="wrapper"></div>
   <script src="app/js/base.js"></script>
   <script src="app/js/app.js"></script>
   <script src="app/js/notify.js"></script>
   <script src="app/js/controller/admin/AdminListController.js"></script>
   <script src="app/js/controller/admin/AdminAddController.js"></script>
   <script src="app/js/controller/AppController.js"></script>
   <script src="app/js/controller/LoginFormController.js"></script>
   <script src="app/js/controller/SidebarController.js"></script>
   <script src="app/js/controller/DashBoardController.js"></script>
   <script src="app/js/controller/student/StudentListController.js"></script>
   <script src="app/js/controller/student/StuDetailController.js"></script>
   <script src="app/js/controller/class/ClassListController.js"></script>
   <script src="app/js/controller/class/ClassAddController.js"></script>
   <script src="app/js/controller/class/ClassEditController.js"></script>
   <script src="app/js/controller/teacher/TeacherListController.js"></script>
   <script src="app/js/controller/teacher/TeacherEditController.js"></script>
   <script src="app/js/controller/teacher/TeacherAddController.js"></script>
   <script src="app/js/controller/notice/NoticeListController.js"></script>
   <script src="app/js/controller/notice/NoticeAddController.js"></script>
   <script src="app/js/controller/interest/InterestListController.js"></script>
   <script src="app/js/controller/interest/InterestAddController.js"></script>
   <script src="app/js/controller/interest/InterestEditController.js"></script>
   <script src="app/js/controller/devices/DevicesController.js"></script>
   <script src="app/js/controller/devices/DevicesAddController.js"></script>
   <script src="app/js/controller/devices/DevicesEditController.js"></script>
   <script src="app/js/controller/fee/FeeListController.js"></script>
   <script src="app/js/controller/fee/FeeAddController.js"></script>
   <script src="app/js/controller/fee/FeeEditController.js"></script>
   <script src="app/js/controller/advice/AdviceListController.js"></script>
   <script src="app/js/controller/food/FoodController.js"></script>
</body>

</html>