<div ng-controller="AdminListController">
   <div class="row btn-operation-div-bottom">
      <button class="btn btn-oval btn-success" ng-click="addAdmin()">添加</button>
      <div ng-show="false" class="pull-right form-inline">
         <input type="text" class="form-control form-control-rounded col-4" ng-model="searchContent" placeholder="登录账号">
         <button type="button" class="btn btn-oval btn-info" ng-click="searchAdmin()"><em class="fa fa-search"></em>搜索</button>
      </div>
   </div>
   <div class="row">
      <div class="panel panel-default">
      <div class="panel-body">
         <!--<form name="newUserForm" ng-submit="addPerson()" novalidate="" class="form-inline">
            <table class="table table-striped hover">
               <thead>
               <tr>
                  <th>
                     <div class="form-group has-feedback">
                        <label>
                        <input type="text" name="adminUserName" ng-model="newAdmin.adminUserName" value="" placeholder="用户名" class="form-control" required />
                        <div ng-show="newUserForm.adminUserName.$dirty && newUserForm.adminUserName.$error.required" class="editable-error ng-binding">用户名不能为空</div>
                        </label>
                     </div>
                  </th>
                  <th>
                     <div class="form-group">
                        <label>
                           <input type="text" name="adminName" ng-model="newAdmin.adminName" value="" placeholder="姓名" class="form-control" required />
                           <div  ng-show="newUserForm.adminName.$dirty && newUserForm.adminName.$error.required" class="editable-error ng-binding">姓名不能为空</div>
                        </label>
                     </div>
                  </th>
                  <th>
                     <div class="form-group">
                        <label>
                           <input type="text" name="adminPwd" ng-pattern="/^[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]/" ng-model="newAdmin.adminPassword" value="" placeholder="登录密码" class="form-control" required />
                           <div ng-show="newUserForm.adminPwd.$dirty && newUserForm.adminPwd.$error.required" class="editable-error ng-binding">密码不能为空</div>
                           <div ng-show="newUserForm.adminPwd.$error.pattern" class="text-danger">密码格式不正确</div>
                        </label>
                     </div>
                  </th>
                  <th>
                     <div class="form-group">
                        <label>
                           <select name="inputeRole" ng-model="roleSelected" ng-options="s.name for s in roleSelecter" class="form-control" required>
                           </select>
                           <div ng-show="newUserForm.inputeRole.$dirty && newUserForm.inputeRole.$error.required" class="editable-error ng-binding">请选择角色</div>
                        </label>
                     </div>
                  </th>
                  <th>
                     <div class="form-group">
                        <button type="submit" class="btn btn-labeled btn-success">
                              <span class="btn-label">
                                 <em class="fa fa-plus"></em>
                              </span>新增</button>
                     </div>
                  </th>
               </tr>
               </thead>
            </table>
         </form>-->
         <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>序号</th>
               <th style="width:20%">登录账号</th>
               <th style="width:20%">姓名</th>
               <th style="width:20%" ng-show="editRowVisible">密码</th>
               <th style="width:20%">角色</th>
               <!--<th ng-show="!editRowVisible">创建时间</th>-->
               <th>创建时间</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="admin in adminList">
                <td>{{pageStartNum + $index}}</td>
               <td e-form="rowform" ng-show="false">{{ admin.adminId }}</td>
               <td><span e-required="" onbeforesave="checkUserName($data)"  e-form="rowform" editable-text="admin.adminUserName" e-name="adminUserName" >{{ admin.adminUserName }}</span></td>
               <td><span e-required="" onbeforesave="checkName($data)" e-form="rowform" editable-text="admin.adminName" e-name="adminName">{{ admin.adminName }}</span></td>
               <td ng-show="editRowVisible"><span onbeforesave="checkPwd($data)"  e-form="rowform" editable-text="admin.adminPassword"  e-name="adminPassword" e-placeholder="密码" >{{admin.adminPassword}}</span></td>
               <td><span e-required="" onbeforesave="checkRole($data)"  e-form="rowform" editable-select="admin.adminRoleId" e-name="adminRoleId" e-ng-options="s.value as s.name for s in roleSelecter" >{{ showRoleName(admin) }}</span></td>
               <td><span>{{ admin.cTime }}</span></td>
               <td style="white-space: nowrap">
                  <!--form-->
                  <form editable-form="" name="rowform" ng-show="rowform.$visible" onaftersave="saveEditRow(admin)" class="form-buttons form-inline">
                     <button type="submit" title="保存" ng-disabled="rowform.$waiting" class="btn btn-sm btn-info">
                        <em class="fa fa-save"></em>
                     </button>
                     <button type="button" ng-click="cancelEditRow(rowform)" title="取消" class="btn btn-sm btn-default">
                        <em class="fa fa-times"></em>
                     </button>
                  </form>
                  <div ng-show="!rowform.$visible" class="buttons">
                     <button type="button" ng-click="showEditRow(rowform)" title="编辑" class="btn btn-sm btn-info">
                        <em class="fa fa-pencil"></em>
                     </button>
                     <button type="button" ng-click="removePerson(admin)" title="删除" class="btn btn-sm btn-danger">
                        <em class="fa fa-trash-o"></em>
                     </button>
                  </div>
               </td>
            </tr>
            </tbody>
         </table>
          <div style="margin-top: 20px">
              <button ng-disabled="pageFirstDisable" ng-click="firstPage()" class="">首页</button>
              <button ng-disabled="pagePrevDisable" ng-click="prevPage()" class=" ">上一页</button>
              第<input type="number" ng-model="pageIndex" ng-change="pageIndexChange()" style="width:30px;overflow-x:visible;overflow-y:visible;">页
              <button ng-disabled="pageNextDisable" ng-click="nextPage()" class=" ">下一页</button>
              <button ng-disabled="pageLastDisable" ng-click="lastPage()"  class=" ">尾页</button>
              每页:<input type="number" ng-model="pageCount" ng-change="pageCountNumChange()" style="width:50px;overflow-x:visible;overflow-y:visible;">条
              &nbsp;共{{pageLastIndex}}页
          </div>
   </div>
      <div class="loading" ng-show="isLoading">
      <div class="loading-center">
         <div class="loading-center-absolute">
            <div class="ball-spin-fade-loader">
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
            </div>
         </div>
      </div>
   </div>
   </div>
</div>