<div ng-controller="ClassListController">
    <div class="row btn-operation-div-bottom">
        <button class="btn btn-oval btn-success" ng-click="addClass()">添加</button>
        <div class="pull-right form-inline">
            <input type="text" class="form-control form-control-rounded col-4" ng-model="searchContent" placeholder="班级名称">
            <button type="button" class="btn btn-oval btn-info" ng-click="searchCla()"><em class="fa fa-search"></em>搜索</button>
        </div>
    </div>
    <!-- Chaning data-->
    <div class="row" >
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-striped hover">
                <thead>
                <tr>
                    <th>班级ID</th>
                    <th>班级名称</th>
                    <th>带班老师</th>
                    <th>学生人数</th>
                    <th>班级状态</th>
                    <th>创建时间</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="cla in classlist">
                    <td class="col-sm-1">{{ pageStartNum + $index }}</td>
                    <td class="col-sm-2"><span>{{ cla.className }}</span></td>
                    <td class="col-sm-2"><span>{{ showTeacherName(cla) }}</span></td>
                    <td class="col-sm-2"><span>{{ cla.classNum }}</span></td>
                    <td class="col-sm-1"><span>{{ showStateName(cla) }}</span></td>
                    <td class="col-sm-1"><span>{{ cla.classTime }}</span></td>
                    <td style="white-space: nowrap">
                        <div class="buttons">
                            <button ng-disabled="cla.classState == 0" type="button" ng-click="completeClass(cla)" title="毕业" class="btn btn-sm btn-info">
                                <em class="fa icon-graduation"></em>
                            </button>
                            <button type="button" ng-click="editCal(cla.className)" title="编辑" class="btn btn-sm btn-info">
                                <em class="fa fa-pencil"></em>
                            </button>
                            <button ng-disabled="cla.classState == 0" type="button" ng-click="removePerson(cla)" title="删除" class="btn btn-sm btn-danger">
                                <em class="fa fa-trash-o"></em>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div style="margin-top: 20px">
                <button ng-disabled="pageFirstDisable" ng-click="firstPage()" class="">首页</button>
                <button ng-disabled="pagePrevDisable" ng-click="prevPage()" class=" ">上一页</button>
                第<input type="number" ng-model="pageIndex" ng-change="pageIndexChange()" style="width:30px;overflow-x:visible;overflow-y:visible;">页
                <button ng-disabled="pageNextDisable" ng-click="nextPage()" class=" ">下一页</button>
                <button ng-disabled="pageLastDisable" ng-click="lastPage()"  class=" ">尾页</button>
                每页:<input type="number" ng-model="pageCount" ng-change="pageCountNumChange()" style="width:30px;overflow-x:visible;overflow-y:visible;">条
                &nbsp;共{{pageLastIndex}}页
            </div>
    </div>
    <div class="loading" ng-show="isLoading">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="ball-spin-fade-loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>