<h3>班级信息
</h3>
<div ng-controller="ClassListController">
    <div class="row btn-operation-div-bottom">
        <button class="btn btn-oval btn-success" ng-click="addClass()">添加</button>
        <div class="pull-right form-inline">
            <input type="text" class="form-control form-control-rounded col-4" ng-model="searchContent" placeholder="班级名称">
            <button type="button" class="btn btn-oval btn-info" ng-click="searchCla()"><em class="fa fa-search"></em>搜索</button>
        </div>
    </div>
    <!-- Chaning data-->
    <div class="row" >
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-striped hover">
                <thead>
                <tr>
                    <th>班级ID</th>
                    <th>班级名称</th>
                    <th>带班老师</th>
                    <th>学生人数</th>
                    <th>班级状态</th>
                    <th>创建时间</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="cla in classlist">
                    <td class="col-sm-1">{{ $index +1 }}</td>
                    <td class="col-sm-2"><span>{{ cla.className }}</span></td>
                    <td class="col-sm-2"><span>{{ showTeacherName(cla) }}</span></td>
                    <td class="col-sm-2"><span>{{ cla.classNum }}</span></td>
                    <td class="col-sm-1"><span>{{ showStateName(cla) }}</span></td>
                    <td class="col-sm-1"><span>{{ cla.classTime }}</span></td>
                    <td style="white-space: nowrap">
                        <div class="buttons">
                            <button ng-disabled="cla.classState == 0" type="button" ng-click="completeClass(cla)" title="毕业" class="btn btn-sm btn-info">
                                <em class="fa icon-graduation"></em>
                            </button>
                            <button type="button" ng-click="editCal(cla.className)" title="编辑" class="btn btn-sm btn-info">
                                <em class="fa fa-pencil"></em>
                            </button>
                            <button ng-disabled="cla.classState == 0" type="button" ng-click="removePerson(cla)" title="删除" class="btn btn-sm btn-danger">
                                <em class="fa fa-trash-o"></em>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="dataTables_paginate paging_full_numbers">
                <a class="paginate_button first disabled">首页</a>
                <a class="paginate_button previous disabled">上一页</a>
                <span><a class="paginate_button current">1</a></span>
                <a class="paginate_button next disabled">下一页</a>
                <a class="paginate_button last disabled">尾页</a></div>
        </div>
    </div>
    <div class="loading" ng-show="isLoading">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="ball-spin-fade-loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>