<h3>发送通知</h3>
<div class="panel panel-default" ng-controller="NoticeAddController">
    <div class="panel-body">
        <form name="noticeForm" novalidate="" class="form-horizontal form-validate">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">通知标题:</label>
                    <div class="col-md-4">
                        <input ng-model="notice.noticeSub" name="noticeSub" class="form-control" type="text" required>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-md-2 control-label">通知内容:</label>
                    <div class="col-md-5">
                        <textarea ng-model="notice.noticeText" name="noticeText" class="form-control" required></textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-md-2 control-label">通知类型:</label>
                    <div class="col-lg-3">
                        <ui-select ng-model="noticeType.selected" theme="bootstrap" class="text-left">
                            <ui-select-match placeholder="选择类型">{{$select.selected.typeName }}</ui-select-match>
                            <ui-select-choices repeat="noticeType in noticeTypeList | filter: $select.search">
                                <span ng-bind-html="noticeType.typeName | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </fieldset>
            <fieldset ng-if="noticeType.selected.typeId ==2">
                <div class="form-group">
                    <label class="col-sm-2 control-label">班级:</label>
                    <div class="col-sm-3">
                        <ui-select ng-model="class.selected" theme="bootstrap" class="text-left" required="">
                            <ui-select-match placeholder="选择班级">{{$select.selected.className }}</ui-select-match>
                            <ui-select-choices repeat="class in classList | filter: $select.search">
                                <span ng-bind-html="class.className | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-md-2 control-label">发送人:</label>
                    <div class="col-md-3">
                        <p class="form-control-static" >{{notice.noticeName}}</p>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="last-child">
                    <div class="col-md-4 col-md-offset-2">
                        <button  class="btn btn-oval btn-info" ng-click="sendNotice()">发送</button>
                        <button  class="btn btn-oval btn-default" ng-click="goBack()">返回</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="loading" ng-show="isLoading">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="ball-spin-fade-loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>